#addContentHere {
  width: 60%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2.5%;
}
.btn {
  width: 100%;
}
.btn-primary {
  background-color: white;
  color: grey;
}

.btn-secondary {
  background-color: white;
  color: grey;
  border-style: solid;
  border-width: 10px;
}

#timeSlotsDiv {
  margin-bottom: 5%;
}

.initHidden {
  display: none;
}
