#addContentHere {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
}
.btn {
  width: 100%;
}
.btn-primary {
  background-color: white;
  color: grey;
}

.btn-secondary {
  background-color: white;
  color: grey;
  border: 2px solid grey;
}

#timeSlotsDiv {
  margin-bottom: 5%;
}

.initHidden {
  display: none;
}

.initHidden2 {
  display: none;
}
